sudo: required

language: python
cache:
  - pip

python:
  - 2.7

services:
  - postgresql

env:
  global:
    # These env vars are available to every build
    - PYTHONPATH=$PYTHONPATH:../refinery:../refinery/config
    - DJANGO_SETTINGS_MODULE=config.settings.prod
  matrix:
    - REFINERY_BRANCH=develop
    - REFINERY_BRANCH=master

install:
  - git clone https://github.com/refinery-platform/refinery-platform.git
  - pushd refinery-platform
  - git checkout $REFINERY_BRANCH
  - pip install -r requirements.txt --quiet
   # Vagrant is not used on travis: This user is just for the database.
  - createuser --createdb --no-superuser --no-createrole vagrant
  - createdb -O vagrant refinery
  - pushd refinery
  # See http://www.stuartellis.eu/articles/erb/#running-erb-from-the-command-line
  - erb config/config.json.erb > config/config.json
  - python manage.py migrate --noinput
  - popd && popd

script:
  # TODO: Temp fix due to features from 
  # https://github.com/refinery-platform/refinery-platform/pull/2374 
  # not being included in refinery-platform's master branch yet.
  - >
      if [ "$REFINERY_BRANCH" == "master" ]; then
        cp tool-annotations/*.json refinery-platform/refinery/tool_manager/visualization_annotations;
        python refinery-platform/refinery/manage.py generate_tool_definitions --visualizations;
      fi
  - >
      if [ "$REFINERY_BRANCH" == "develop" ]; then
        python ci_tests.py
      fi
          
  
notifications:
  slack: refinery-platform:YD1N3ifQ4jaiIqaiGmmwF7Tq
  on_success: never
